body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  #1a1a1a;
}

.caixa-login {
    background-color: peru;
    border: 1px solid black;
    border-radius: 1px;
    height: 60px;
    width: 1363px;
    margin: -80px 0 0 -13px;
}

.user {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 225px;
    margin: 8px 0 0 685px
}

.pass {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 225px;
    margin: -42px 0 0 920px;
}

.btn_login {
    background-color: orange;
    color: #FFF;
    font-size: 15px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 15px;
    height: 41px;
    width: 149px;
    border: none;
    display: block;
    outline: none;
    border-radius: 12px;
    margin: -42px 0px 0px 1185px;
}

/*------------------------------------------------------------------------------------------------- */

.img_fundo {
    width: 700px;
    margin: 25px 0 0 320px;
}

/*------------------------------------------------------------------------------------------------- */

.inpt2 {
    background-color: peru;
    border: solid 0px black;
    width: 221px;
    height: 38px;
    border-radius: 12px;
    margin: 0px 0px 0px 0px;
    display: flex;
}

.inpt1 {
    background-color: peru;
    border: solid 0px black;
    width: 221px;
    height: 38px;
    border-radius: 12px;
    margin: 0px 0px 0px 0px;
    display: flex;
}